@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-primary font-textes;
  }
  body {
    @apply min-h-screen grid grid-rows-[auto_1fr_auto] bg-primary text-white font-textes;
  }
  section {
    @apply container px-4 mx-auto mb-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-titres text-balance;
  }
  h1 {
    @apply text-[clamp(24px,7vw,80px)] leading-[5rem] text-white font-[400];
  }
  h2 {
    @apply px-[10vmin] text-[30px] text-white text-center font-[400];
  }
  h3 {
    @apply px-[8vmin] text-[24px] text-white text-center;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
}
@keyframes ligne {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.ligne::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  animation: ligne 2s var(--delay-ligne, 0s) ease-out;
  margin-block-start: 1rem;
}
