---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crédits">
  <main>
    <section class="flex flex-col gap-4">
      <h1 class="ligne">Credits</h1>
      <h2 class="text-secondary">Photos</h2>
      <p>
        Photo by
        <a class="text-secondary" href="https://unsplash.com/@sagefriedman"
          >Sage Friedman</a
        >
        on
        <a class="text-secondary" href="https://unsplash.com/s/photos/runner"
          >Unsplash</a
        >
      </p>
      <h2 class="text-secondary">Dessins SVG</h2>
      <p>
        Les SVG de base proviennent du site
        <a class="text-secondary" href="https://undraw.co/illustrations"
          >unDraw</a
        >
      </p>
      <p>Les animations sont faites par moi même (custom css animation)</p>
      <h2 class="text-secondary">
        Stack technique pour le développement de ce site
      </h2>
      <p>
        <a href="https://astro.build/">Astro v5</a>
      </p>
    </section>
  </main>
</Layout>
