---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crédits">
  <main>
    <section class="flex gap-4 flex-col">
      <h1 class="ligne">Credits</h1>
      <h2 class="text-secondary">Photos</h2>
     <p>Collection personnelle</p>
      <h2 class="text-secondary">Dessins SVG</h2>
      <p>
        Les SVG de base proviennent du site
        <a class="text-secondary" href="https://undraw.co/illustrations"
          >unDraw</a
        >
      </p>
      <p>Les animations sont faites par moi même (custom css animation)</p>
      <h2 class="text-secondary">
        Stack technique pour le développement de ce site
      </h2>
      <p>
        <a href="https://astro.build/">Astro v5</a>
      </p>
    </section>
    <section>
      <h2 class="text-secondary">Anciennes versions du site encore en ligne</h2>
      <ul class="px-8 pt-4">
        <li>
          <a
            class="text-secondary underline"
            target="_blank"
            href="https://website-astro-cf232a970-william-schlegel.vercel.app/"
            >Version développée avec Astro v3 et Sanity</a
          >
        </li>
        <li>
          <a
            class="text-secondary underline"
            target="_blank"
            href="https://wsconseil-gatsby-intl-pvjb52mik-william-schlegel.vercel.app/"
            >Version développée avec Gatsby</a
          >
        </li>
      </ul>
    </section>
  </main>
</Layout>
