---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Role from "../components/Role.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projets = await getCollection("projetCollection");
---

<Layout title="Home" description="WS Conseil CTO as a Service" logo="">
  <main>
    <section class="pt-[calc(60px+3vh)] pb-[3vh]">
      <h1>
        Passez à la vitesse supérieure avec un CTO/Lead dev expérimenté à la
        demande
      </h1>
    </section>
    <section>
      <h2 class="ligne" style="--delay-ligne: 0.5s">Mes derniers projets</h2>
      {
        projets.map((projet, index) => (
          <ProjectCard project={projet.data} index={index} />
        ))
      }
    </section>
  </main>
</Layout>
