---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
import Role from "../components/Role.astro";

const projets = await getCollection("projetCollection");
---

<Layout title="Home" description="WS Conseil CTO as a Service" logo="">
  <main>
    <section>
      <h1>Hello</h1>
    </section>
    <section>
      <h2>Mes derniers projets</h2>
      {
        projets.map((projet) => (
          <>
            <div>{projet.data.name}</div>
            {projet.data.roles.map((role) => (
              <Role id={role.id} />
            ))}
          </>
        ))
      }
    </section>
  </main>
</Layout>
