---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mentions">
  <main>
    <section class="mb-6 flex flex-col gap-4">
      <h1 class="ligne">Mentions légales</h1>
      <h2 class="text-secondary">EDITEUR DU SITE</h2>
      <p>WS Conseil</p>
      <p>SARL capital 52 500 €</p>
      <p>RCS Pontoise</p>
      <p>SIRET 509 247 367 00014</p>
      <p>N° TVA Intracommunautaire : FR67509247367</p>
      <p>wsconseil.com</p>
      <h2 class="text-secondary">DIRECTEUR DE PUBLICATION</h2>
      <p>William Schlegel, gérant de la société</p>
      <h2 class="text-secondary">CRÉATION ET DESIGN</h2>
      <p>WS Conseil</p>
      <h2 class="text-secondary">HÉBERGEMENT</h2>
      <p>Vercel</p>
      <h2 class="text-secondary">TÉMOINS DE CONNEXION (COOKIES)</h2>
      <p>
        Les utilisateurs sont informés que lors de l’accès à ce site, des
        informations peuvent être temporairement conservées en mémoire ou sur
        leur disque dur. Les utilisateurs ont la possibilité de supprimer les
        cookies enregistrés sur leur navigateur internet à tout moment. En cas
        de suppression des cookies, certains contenus sont susceptibles de ne
        plus être accessibles.
      </p>
      <p>Voici les démarches à suivre en fonction des navigateurs :</p>
      <h3 class="text-secondary">Google Chrome :</h3>
      <p>Accédez au menu « Outils »</p>
      <p>Cliquez sur « Effacer les données de navigation »</p>
      <h3 class="text-secondary">Firefox Mozilla :</h3>
      <p>Accédez au menu « Outils » puis « Options »</p>
      <p>Cliquez sur l’option « Vie privée »</p>
      <p>Rubrique « Cookies »</p>
      <h3 class="text-secondary">Internet Explorer :</h3>
      <p>Accédez au menu « Outils » puis « Options Internet »</p>
      <p>Cliquez sur l’onglet « Confidentialité »</p>
      <p>Sélectionnez le niveau souhaité</p>
      <h3 class="text-secondary">Opéra :</h3>
      <p>Choisissez le menu « Fichier »</p>
      <p>puis « Préférences » Vie Privée</p>
      <hr />
      <a class="text-secondary" href="/credits">Crédits</a>
    </section>
  </main>
</Layout>
