---
import { Image } from "astro:assets";
import me from "../assets/site/me.jpg"

const { moreClass } = Astro.props;


---

<a
  href="/about"
  class:list={[
    "bg-secondary rounded-full p-1 pl-3 flex items-center gap-1 outline outline-primary outline-0 transition-[outline] duration-100 ease-in-out hover:outline-[3px]",
    moreClass,
  ]}
>
  <p class="text-primary">About Me</p>
  <Image
    src={me}
    alt="me"
    width="30"
    height="30"
    class="rounded-full"
  />
</a>
