---
import FooterLink from "./FooterLink.astro";

const today = new Date();
---

<footer
  class="hidden fixed bottom-0 left-0 w-full h-10 items-center justify-between px-8 text-white bg-primary-dark md:flex"
>
  <p>
    Designed and developped by me - &copy;{today.getFullYear()}
  </p>
  <div class="flex gap-4">
    <FooterLink href="/mentions">Mentions</FooterLink>
    <FooterLink href="/credits">Crédits</FooterLink>
  </div>
</footer>
