---
import { SITE_TITLE } from "../consts";
import AboutButton from "./AboutButton.astro";
import InnerMenu from "./InnerMenu.astro";
---

<header>
  <nav
    class="fixed top-0 left-0 w-full bg-white px-5 h-16 z-10"
    aria-label="Top menu"
    role="navigation"
  >
    <a href="/" class="absolute top-0 w-[150px] h-full"
      ><img
        class="h-[calc(100%-10px)] cursor-pointer"
        src="/site/logo-long.png"
        width="150"
        alt={`logo du site ${SITE_TITLE} et retour à la home page`}
      /></a
    >
    <InnerMenu
      containerClass="hidden items-center justify-center h-full md:flex"
      linkClass="flex items-center h-full border-b-8 border-transparent py-0 px-[3%] text-primary hover:border-primary"
      activeClass="font-bold border-primary"
      inactiveClass="border-transparent"
    />
    <AboutButton moreClass="absolute right-1 top-[10px] h-[calc(100%-20px)]" />
  </nav>
</header>
<InnerMenu
  containerClass="fixed bottom-0 left-0 w-full h-[80px] bg-primary-dark px-8 py-4 flex items-center justify-between z-20 md:hidden"
  linkClass="text-white"
/>
