---
import { SITE_TITLE } from "../consts";
import AboutButton from "./AboutButton.astro";
import InnerMenu from "./InnerMenu.astro";
---

<header>
  <nav
    class="fixed top-0 left-0 w-full bg-white px-5 h-16"
    aria-label="Top menu"
    role="navigation"
  >
    <a href="/" class="absolute top-0 w-[150px] h-full"
      ><img
        class="h-[calc(100%-10px)] cursor-pointer"
        src="/site/logo-long.png"
        width="150"
        alt={`logo du site ${SITE_TITLE} et retour à la home page`}
      /></a
    >
    <div class="hidden items-center justify-center h-full md:flex">
      <InnerMenu />
    </div>
    <AboutButton moreClass="absolute right-1 top-[10px] h-[calc(100%-20px)]" />
  </nav>
</header>
