---
import type { HTMLAttributes } from "astro/types";

type Props = {
  linkClass: string;
  activeClass?: string;
  inactiveClass?: string;
} & HTMLAttributes<"a">;

const { linkClass, activeClass, inactiveClass, class: className, href, ...rest } =
  Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[linkClass, isActive ? activeClass : inactiveClass, className]}
  {...rest}
>
  <slot />
</a>
