---
import type { HTMLAttributes } from "astro/types";

type Props = {
  linkClass: string;
  activeClass?: string;
  inactiveClass?: string;
} & HTMLAttributes<"a">;

const { linkClass, activeClass, inactiveClass, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = props.href === pathname || props.href === "/" + subpath?.[0];
---

<a
  href={props.href}
  class:list={[linkClass, isActive ? activeClass : inactiveClass, props.class]}
  {...props}
>
  <slot />
</a>
