---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss">
  $sizes: 800,1024;
  $opacity: 0.8;

  body {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, $opacity),
        rgba(0, 0, 0, $opacity)
      ),
      url("/site/trail-bretagne-400.webp");
    background-size: auto, cover;
    background-origin: content-box;
    background-position: center center;
    overflow-x: hidden;
    @each $size in $sizes {
      @media screen and (min-width: #{$size}px) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, $opacity),
            rgba(0, 0, 0, $opacity)
          ),
          url("/site/trail-bretagne-#{$size}.webp");
      }
    }
  }
</style>
